<ul>
  <li>
    <button class="btn btn-link"
            (click)="util.navigateByUrl('apropos')">Apropos</button>
  </li>
  <li>
    <button class="btn btn-link"
            (click)="util.navigateByUrl('admin/users')">Utilisateurs</button>
  </li>
  <li>
    <button class="btn btn-link"
            (click)="util.navigateByUrl('gestMdl')">Gestion module</button>
  </li>
  <li>
    <button class="btn btn-link"
            (click)="util.navigateByUrl('statistique')">Statistiques</button>
  </li>
</ul>
